{% extends "base.html"%}
{% block head %}
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    <style type="text/css">
        /* cytoscape graph */
        #cy {
            left: 50px;
            width: 1200px;
            height: 600px;
            background-color: #f9f9f9;
        }
        #cc {
            left: 50px;
            width: 1200px;
            height: 600px;
            background-color: #f9f9f9;
        }
    </style>
    <script src="./static/js/cytoscape.min.js"></script>
    <script src="./static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        // $(function() {
        //     $.get('/graph',function(result) {
                
        //     } ,'json');
        //     cytoscape({
        //         container:document.getElementById('cy'),
        //         style:  [
        //         { selector: 'node', 
        //           css: {'background-color': '#6FB1FC', 'content': 'data(id)'}
        //         },
        //         { selector: 'edge', 
        //           css: {'target-arrow-shape': 'none'}
        //         }        
        //       ], 
        //       elements: {
        //         nodes: [
        //           {data: {id: '172'}},
        //           {data: {id: '183'}}
        //         ],
        //         edges: [{data: {source: '172', target: '183'}}]
        //       },
        //       layout: { name: 'grid'} 
        //     });
        // });




         $(function(){
          $.get('/graph/graphA/match', function(result) {
            var style = [
              { selector: 'node', css: {'background-color': '#6FB1FC'}},
              { selector: 'node[type="ga"]', css: {'background-color': '#FF0000', content:'data(id)'}},
              { selector: 'node[type="gb"]', css: {'background-color': '#00FF00', content:'data(id)'}},
              { selector: 'edge', css: {'background-color': '#6FB1FC'}},
              { selector: 'edge[type="matched"]', 
                  css: {'line-color': 'blue', 'line-style': 'dashed'}
              },
            ];

            var cy = cytoscape({
              container: document.getElementById('cy'),
              style: style,
              hideEdgesOnViewport: true,
              hideLabelsOnViewport: true,
              layout: { 
                  name: 'concentric',

  fit: true, // whether to fit the viewport to the graph
  padding: 30, // the padding on fit
  startAngle: 3 / 2 * Math.PI, // where nodes start in radians
  sweep: undefined, // how many radians should be between the first and last node (defaults to full circle)
  clockwise: true, // whether the layout should go clockwise (true) or counterclockwise/anticlockwise (false)
  equidistant: false, // whether levels have an equal radial distance betwen them, may cause bounding box overflow
  minNodeSpacing: 10, // min spacing between outside of nodes (used for radius adjustment)
  boundingBox: undefined, // constrain layout bounds; { x1, y1, x2, y2 } or { x1, y1, w, h }
  avoidOverlap: true, // prevents node overlap, may overflow boundingBox if not enough space
  nodeDimensionsIncludeLabels: false, // Excludes the label when calculating node bounding boxes for the layout algorithm
  height: undefined, // height of layout area (overrides container height)
  width: undefined, // width of layout area (overrides container width)
  spacingFactor: undefined, // Applies a multiplicative factor (>0) to expand or compress the overall area that the nodes take up
  concentric: function( node ){ // returns numeric value for each node, placing higher nodes in levels towards the centre
  // return node.degree()*node.degree()*node.degree()-node.degree()*node.degree()-node.degree();
    return node.degree()*node.degree()*node.indegree()-node.indegree()*node.indegree()*node.outdegree();
  },
  levelWidth: function( nodes ){ // the letiation of concentric values in each level
  return nodes.maxDegree() / 4;
  },
  animate: false, // whether to transition the node positions
  animationDuration: 50000, // duration of animation in ms if enabled
  animationEasing: undefined, // easing of animation if enabled
  animateFilter: function ( node, i ){ return true; }, // a function that determines whether the node should be animated.  All nodes animated by default on animate enabled.  Non-animated nodes are positioned immediately when the layout starts
  ready: undefined, // callback on layoutready
  stop: undefined, // callback on layoutstop
  transform: function (node, position ){ return position; } // transform a given node position. Useful for changing flow direction in discrete layouts 
               },      
              elements: result.elements
            });
          }, 'json');  
        });    
    </script>
    <script type="text/javascript">
        // $(function() {
        //     $.get('/graph',function(result) {
                
        //     } ,'json');
        //     cytoscape({
        //         container:document.getElementById('cy'),
        //         style:  [
        //         { selector: 'node', 
        //           css: {'background-color': '#6FB1FC', 'content': 'data(id)'}
        //         },
        //         { selector: 'edge', 
        //           css: {'target-arrow-shape': 'none'}
        //         }        
        //       ], 
        //       elements: {
        //         nodes: [
        //           {data: {id: '172'}},
        //           {data: {id: '183'}}
        //         ],
        //         edges: [{data: {source: '172', target: '183'}}]
        //       },
        //       layout: { name: 'grid'} 
        //     });
        // });


        //  $(function(){
        //   $.get('/graph/graphA/match', function(result) {
        //     var style = [
        //       { selector: 'node', css: {'background-color': '#6FB1FC'}},
        //       { selector: 'node[type="ga"]', css: {'background-color': '#FF0000', content:'data(id)'}},
        //       { selector: 'node[type="gb"]', css: {'background-color': '#FF8800', content:'data(id)'}},
        //       { selector: 'edge', css: {'background-color': '#6FB1FC'}},
        //       { selector: 'edge[type="matched"]', 
        //           css: {'line-color': 'red', 'line-style': 'dashed'}
        //       },
        //     ];

        //     var cy = cytoscape({
        //       container: document.getElementById('cc'),
        //       style: style,
        //       layout: { name: 'cose', fit: true },      
        //       elements: result.elements
        //     });
        //   }, 'json');  
        // });   
    </script>
{% endblock %}
{% block content %}
    <div id="cy"></div>
    <div id="cc"></div>
{% endblock %}