<html>
 <head>
  {% if title %}
  <title>GraphMatching{{ "- " + title}}</title>
  {% else %}
  <title>GraphMatching</title>
  {% endif %}
  {% block head %}
  {% endblock %}

  <style type="text/css">
        nav {
            background-color: #666;
        }
        nav ul li {
            text-decoration: none;
        }
  </style>

 </head>
 <body>
   <nav>
        <ul>
            <li><a href="/upload">Upload</a></li>
            <li><a href="/manage">Manage</a></li>
            <li><a href="/matching">Matching</a></li>
            <li><a href="/result">Result</a></li>
            <li><a href="/viz">Visualizion</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
 </body>
</html>