<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flask-Dropzone Demo</title>
  {{ dropzone.load() }}
  {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
  <style type="text/css">
        nav {
            background-color: #666;
        }
        nav ul li {
            text-decoration: none;
        }
  </style>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/index">Upload</a></li>
            <li><a href="/manage">Manage</a></li>
            <li><a href="/matching">Matching</a></li>
            <li><a href="/result">Result</a></li>
        </ul>
    </nav>
    <div id="dropzone">
        {{ dropzone.create(action_view='index') }}
    </div>
</body>
</html>
