{% extends "base.html" %}
{% block content %}
    <div>
      <form method="post" name="select_file">
        <table border="0">
          <tr>
            <td>GraphA:</td>
            <td>
              <select name="graphA">
                {% for file  in files_list %}
                  <option value="{{file}}">{{file}}</option>
                {% endfor %}
                {% if files_list.__len__() == 0  %}
                  <option value="None">Please Upload Your Graph File!</option>
                {% endif %}
              </select>
            </td>
          </tr>
          <tr>
            <td>GraphB:</td>
            <td>
              <select name="graphB">
                {% for file  in files_list %}
                  <option value="{{file}}">{{file}}</option>
                {% endfor %}
                {% if files_list.__len__() == 0  %}
                  <option value="None">Please Upload Your Graph File!</option>
                {% endif %}
              </select>
            </td>
          </tr>
          <tr>
            <td colspan="2" align="center">
              <input type="submit" name="submit" value="Start Matching" />
            </td>
          </tr>
        </table>
      </form>
    </div>
{% endblock %}